<!-- jinja template inheritance - 
 extending base.html 
 jextend shortcut-->
{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <h2>Add a Todo</h2>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Todo Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Todo Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container my-3">
        <h2>Your Todos</h2>
        <!--Jinja2 tutorial - https://jinja.palletsprojects.com/en/stable/templates/
                it has statements, expressions, comments, filters, tests, control structures-->
        <!-- type jifelse -->
        {% if allTodos|length() == 0 %} <!-- filters are written with | (pipe)-->
            no records
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SNo</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">time</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- type jfor (jinja2 syntax for for loop)-->
                    {% for todo in allTodos %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <!--<th scope="row">{{todo.sno}}</th>-->
                            <td>{{todo.title}}</td>
                            <td>{{todo.desc}}</td>
                            <td>{{todo.date_created}}</td>                         
                            <td><a href="/updage/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm">Update</a></td>                           
                            <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm">Delete</a></td>                           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %} 
    </div>

{% endblock body %}